/* Estilos de la sección */
    
    .section__title {
        text-align: center
    }

    .education__section {
    margin-bottom: 1.5em;
    text-align: center;
    }
    
    .education__list {
    list-style-type: none;
    padding: 0;
    
    }
    
    .education__item {
    margin-bottom: 1em;
    
    }